---
import Layout from "../layouts/Layout.astro";
import type { Naruto } from "../utils/naruto";

const { id } = Astro.params;
const res = await fetch(`${Astro.url.origin}/api/naruto/${id}`);

if (!res.ok) {
  throw new Error(`Personaje con id=${id} no encontrado`);
}

const personaje: Naruto = await res.json();
console.log('da',personaje)
---


<Layout title={`Detalles de ${personaje.nombre}`}>
  <h1>{personaje.nombre}</h1>
  <ul>
    <li><strong>Clan:</strong> {personaje.clan}</li>
    <li><strong>Edad:</strong> {personaje.edad}</li>
    <li><strong>ID:</strong> {personaje.id}</li>
  </ul>

  <a href="/example">← Volver a la lista</a>
</Layout>
